body {
    background-color: green;
}

img {
    padding-left: 25%;
}

.btn {
    border-radius: 8px;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}